@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
@import "tailwindcss";
@import "tw-animate-css";
@import "react-datepicker/dist/react-datepicker.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-primary: #5a6ae8;
  --color-secondary: #f6f6fd;
  --color-tertiary: #fafafc;
  --color-light-border: #eff0f1;
  --color-font: #171717;
  --color-light-font: #828aba;
  --color-success: #06d6a0;
  --color-warning: #ff445b;
  --color-dark-border: #797979;
  --color-white: #f6f6f6;
  --color-footer: #e4e4e7;

  --color-bg: #f8f8f3;
  --color-scndbg: #f6f6f6;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-mainFont: #111111;
  --color-subFont: #edededa5;
  --color-bgPrimary: #fbfafc;

  /* البريكبوينتات */
  --breakpoint-xs: 475px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1500px;
  --breakpoint-3xl: 1600px;

  /* البقية حسب الكود عندك */
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  /* --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: calc(var(--radius) - 3px);
  --radius-xl: calc(var(--radius) - 4px); */
}

.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

@theme {
  --font-allura: "Allura", sans-serif;
}

/* متغيرات ألوان الويبسايت من الداتا */
:root {
  --website-primary-color: #5a6ae8;
  --website-secondary-color: #f6f6fd;
  --website-tertiary-color: #fafafc;
  --website-light-border-color: #eff0f1;
  --website-font-color: #171717;
  --website-light-font-color: #828aba;
  --website-success-color: #06d6a0;
  --website-warning-color: #ff445b;
  --website-dark-border-color: #797979;
  --website-white-color: #f6f6f6;
  --website-footer-color: #e4e4e7;
  --toast-background-color: #06d6a0;
  --v-theme-success: #06d6a0;
  --v-theme-on-success: #06d6a0;
  --toastify-color-success: #06d6a0;
  --toastify-color-progress-success: #06d6a0;
  --toastify-icon-color-success: #06d6a0;
}
.success-toast {
  --toast-background-color: #06d6a0;
  --v-theme-success: #06d6a0;
  --v-theme-on-success: #06d6a0;
  --toastify-color-success: #06d6a0;
  --toastify-color-progress-success: #06d6a0;
  --toastify-icon-color-success: #06d6a0;
}
.bg-website-primary {
  background-color: var(--website-primary-color);
}
.bg-website-secondary {
  background-color: var(--website-secondary-color);
}
.bg-website-tertiary {
  background-color: var(--website-tertiary-color);
}
.bg-website-white {
  background-color: var(--website-white-color);
}
.bg-website-footer {
  background-color: var(--website-footer-color);
}

.text-website-font {
  color: var(--website-font-color);
}
.text-website-light-font {
  color: var(--website-light-font-color);
}
.text-website-success {
  color: var(--website-success-color);
}
.text-website-warning {
  color: var(--website-warning-color);
}

.border-website-light-border {
  border-color: var(--website-light-border-color);
}
.border-website-dark-border {
  border-color: var(--website-dark-border-color);
}

/* scroll */
::-webkit-scrollbar {
  width: 6px; 
  height: 6px; 
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  background-color: var(--website-primary-color); 
  border-radius: 8px; 
  border: 2px transparent; 
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #3b4ddb; 
}

body {
  /* overflow: hidden !important; */
  background: var(--website-white-color);
  /* font-family: var(--font-sans); */
  /* font-family: "Alura"; */
  /* font-family: "Allura"; */
  /* scrollbar-thumb-primary scrollbar-track-transparent */
scrollbar-color: var(--website-primary-color);
scrollbar-width: 2px;
/* scrollbar-base-color: transparent; */
}
.confirm-btn {
  background-color: var(--website-primary-color);
  color: white;
}
.confirm-btn:hover {
  background-color: white;
  border-width: 1px;
  border: var(--website-primary-color);
  color: var(--website-primary-color);
}
.cartadd{
      align-items: center;
    border-radius: 20px;
    border-width: 1px;
    display: flex;
    gap: .75rem;
    justify-content: center;
    --tw-border-opacity: 1;
    border-color: white;
    color: white;
    background-color: var(--website-primary-color);
    font-weight: 500;
    padding: .75rem 2rem;
    transition-duration: .3s;
}
.cartadd:hover{   
    border-color: var(--website-primary-color);
    color: var(--website-primary-color);
    background-color: white;
    font-weight: 500;
}
.cancel-btn {
  background-color: white;
  border: 1px var(--website-primary-color);
  color: var(--website-primary-color);
}
.cancel-btn:hover {
  background-color: var(--website-primary-color);
  color: white;
}
.confirm-btn {
  background-color: var(--website-primary-color);
  color: white;
  border-width: 1px;

}
.confirm-btn:hover {
  background-color: white;
border:2px solid var(--website-primary-color);
  color: var(--website-primary-color);
  cursor: pointer;
}
.label_with_check:not(.custom-switch){
  border-radius: 0.75rem;
  border-width: 1px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: relative;
  --tw-border-opacity: 1;
  background-color: var(--website-tertiary-color);
  /* border-color: var(--tw-border-opacity); */
  padding: 0.5rem 1.25rem;
}
.label_with_check:not(.custom-switch):focus,.label_with_check:not(.custom-switch):active{
  border-color: var(--website-primary-color);
}
form input,
form select {
  border-color: var(--website-white-color);
  width: 100%;
  border-radius: 1rem;
  border-width: 1px;
  background-color: white;
  padding: 0.75rem;
  outline: none;
}

form input:focus,
form select:focus {
  outline: none;
  box-shadow: 0 0 0 2px #60a5fa; /* blue-400 */
}

.reserve-form input,
.reserve-form select,
.reserve-form .time-picker {
  border-radius: 0;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #0b173c;
  outline: none;
}

.reserve-form .reserve {
  border: 0;
  border-bottom: 1px solid #0b173c;
}

input[type="radio"] {
  @apply size-5 rounded-full focus:ring-0 focus:outline-none;
}
@layer utilities {
  .container-custom {
    margin-inline: auto;
    padding-inline: 3rem;
  }

  @media (min-width: 1200px) {
    .container-custom {
      max-width: 1200px;
      padding-inline: 0;
    }
  }

  @media (min-width: 1400px) {
    .container-custom {
      max-width: 1400px;
    }
  }
}
