@import 'tailwindcss';

@theme inline {
  --color-primary: #5A6AE8;
  --color-sub: #828ABA;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-mainFont:#111111;
--color-subFont:#edededa5;
--color-bgPrimary:#FBFAFC;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #193210;
    --foreground: #ededed;
  }
}

body{
  /* background-color: green; */
  form{
    input{
      border-color: var(--color-sub);
    }
  }
}
