@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import 'tailwindcss';
@theme inline {
  --color-primary: #5A6AE8;
  --color-sub: #828ABA;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-mainFont:#111111;
--color-subFont:#edededa5;
--color-bgPrimary:#FBFAFC;

  --breakpoint-xs: 475px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1500px;
  --breakpoint-3xl: 1600px;


}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #193210;
    --foreground: #ededed;
  }
}
.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
@theme {
  --font-allura: "Allura", sans-serif; 
}
body{
  /* font-family: "Allura"; */
  /* background-color: green; */
  background: #f8f8f3;
  form{
    input,select{
      border-color: var(--color-sub);
    }
  .reserve{
    border: 0;
    border-bottom:1px solid #0b173c ;
   }
  }

}
/* @utility container {
  margin-inline: auto;
  padding-inline: 3rem;
  @media (min-width: 475px) {
    max-width: 100%;
  }
  @media (min-width: 576px) {
    max-width: 100%;
  }
  @media (min-width: 768px) {
    max-width: 100%;
  }
  @media (min-width: 992px) {
    max-width: 992px;
  }
  @media (min-width: 1200px) {
    max-width: 1200px;
  }
  @media (min-width: 1400px) {
    max-width: 1400px;
  }
  @media (min-width: 1200px) {
    padding-inline: 0;
  }
} */

@layer utilities {
  .container-custom {
    margin-inline: auto;
    padding-inline: 3rem;
  }

  @media (min-width: 1200px) {
    .container-custom {
      max-width: 1200px;
      padding-inline: 0;
    }
  }

  @media (min-width: 1400px) {
    .container-custom {
      max-width: 1400px;
    }
  }
}
